<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.plu.huangxingli.androidlearningprocess" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Push SDK权限 end -->
    <!-- 允许网络连接以及网络状态改变 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 文件存储 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".serviceAbout.MyService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".serviceAbout.MyIntentService" />

        <activity android:name=".activity.TimerTextViewActivity" />
        <activity android:name=".AnimateAbout.AnimateActivity" />
        <activity
            android:name=".serviceAbout.ServiceActivity$InnerActivity"
            android:label="@string/title_activity_second" />
        <activity android:name=".SecondActivity" >
            <intent-filter>
                <action android:name="com.google.app.myapp.plu" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HandlerThreadActivity" />
        <activity android:name=".TimerAbout.TimerActivity" />
        <activity
            android:name=".serviceAbout.ServiceActivity"
            android:label="MyActivity" />
        <activity android:name=".ToastAbout.ToastActivity" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" />
        <activity android:name=".activity.ValueAnimatorActivity" />
        <activity android:name=".realMvp.view.ArticleListActivity" />
        <activity
            android:name=".FloatWindow.FloatWindowActivity"
            android:label="@string/title_activity_float_window" />
        <activity android:name=".activity.TimerTaskActivity" />
        <activity android:name=".RxJava.operators.RxCreateSignActivity" />
        <activity
            android:name=".activity.SurfaceViewTest"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".DrawerAbout.DrawerLayoutActivity" />
        <activity android:name=".activity.TabHostFragmentTest" />
        <activity android:name=".bmobAbout.BomboActivity" />
        <activity android:name=".FileAbout.FileActivity" />

        <service
            android:name=".FloatWindow.FloatWindowService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.FrameWorkTest"
            android:label="@string/title_activity_frame_work_test" />
        <activity android:name=".activity.TestInnerClass" />
        <activity
            android:name=".retrofit.Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".mvp.MvpActivity"
            android:label="@string/title_activity_mvp" />
        <activity
            android:name=".activity.ViewMeasureActivity"
            android:label="@string/title_activity_view_measure" />
        <activity
            android:name=".touchEvent.TestTouchEvent"
            android:label="@string/title_activity_test_touch_event" />
        <activity
            android:name=".RxJava.RxJavaActivity"
            android:label="@string/title_activity_rx_java" />
        <activity
            android:name=".activity.CustomViewActivity"
            android:label="@string/title_activity_custom_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RxJava.RXCatogry"
            android:label="@string/title_activity_rxcatogry" />
        <activity
            android:name=".RxJava.RetrofitWithRxJava"
            android:label="@string/title_activity_retrofit_with_rx_java" />
        <activity
            android:name=".RxJava.RxSignActivity"
            android:label="@string/title_activity_rx_sign" />
        <activity
            android:name=".activity.OnActivityResultAc"
            android:label="@string/title_activity_on_activity_result" />
        <activity
            android:name=".RxJava.operators.ChangeSignActivity"
            android:label="@string/title_activity_change_sign"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RxJava.OperatorList"
            android:label="@string/title_activity_operator_list" />
        <activity
            android:name=".RxJava.operators.FilterOperators"
            android:label="@string/title_activity_filter_operators" />
        <activity
            android:name=".RxJava.operators.CombineOperators"
            android:label="@string/title_activity_combine_operators" />
        <activity
            android:name=".RxJava.operators.ErrorHandlerOperators"
            android:label="@string/title_activity_error_handler_operators" />
        <activity
            android:name=".RxJava.operators.AssistOperators"
            android:label="@string/title_activity_assist_operators" />
        <activity
            android:name=".RxJava.operators.ConditionAndBooleanOperators"
            android:label="@string/title_activity_condition_and_boolean_operators" />
        <activity
            android:name=".RxJava.operators.MathematicalAndAggregateOperators"
            android:label="@string/title_activity_mathematical_and_aggregate_operators" />
        <activity
            android:name=".RxJava.operators.AsyOperators"
            android:label="@string/title_activity_asy_operators" />
        <activity
            android:name=".RxJava.operators.ConnectionOperators"
            android:label="@string/title_activity_connection_operators" />
        <activity
            android:name=".activity.TestActivityTask"
            android:label="@string/title_activity_test_activity_task"
            android:launchMode="singleTask" />
        <activity
            android:name=".AnimateAbout.GiftAnimationActivity"
            android:label="@string/title_activity_gift_animation" />
        <activity
            android:name=".RxBindingUsing.RxBindingActivityUsing"
            android:label="@string/title_activity_rx_binding_activity_using"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ImageActivity"
            android:label="@string/title_activity_image" />
        <activity
            android:name=".activity.MAnimateTest"
            android:label="@string/title_activity_manimate_test" />
        <activity
            android:name=".activity.PopupAnimateActivity"
            android:label="@string/title_activity_popup_animate" />
        <activity
            android:name=".AnimateAbout.ArcActivity"
            android:label="@string/title_activity_arc" />
        <activity
            android:name=".AnimateAbout.TestArcAnimActivity"
            android:label="@string/title_activity_test_arc_anim" />
        <activity
            android:name=".activity.SelfRcViewActivity"
            android:label="@string/title_activity_self_rc_view" />
        <activity
            android:name=".activity.DanmuKuActivity"
            android:label="@string/title_activity_danmu_ku" />
        <activity
            android:name=".activity.LongImageViewActivity"
            android:label="@string/title_activity_long_image_view" >
        </activity>
    </application>

</manifest>
